<h3>Create Pet</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="petCreationForm" (ngSubmit)="onSubmit(petCreationForm.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" name="Name">
    </div>
    <div class="form-group">
      <label for="animals">Animal</label>
      <select formControlName="animals" id="animals">
        <option [ngValue]="null" disabled>Choose your animal</option>
        <option *ngFor="let animal of animals | async" [value]="animal">
            {{animal.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="owners">Owner</label>
      <select formControlName="owners" id="owners">
        <option [ngValue]="null" disabled>Choose the pet's owner</option>
        <option *ngFor="let owner of owners | async" [value]="owner">
            {{owner.fullName}}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
