<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Name: </b></label> {{employee.name}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Is Employee? </b></label> {{employee.isEmployee | yesNo }}
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>{{employee.fullName}}'s Pet List</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Animal</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of employee.pets ">
            <td>{{pet.name}}</td>
            <td>{{pet.animal.name}}</td>
            <td><button (click)="deletePet(pet.id)" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>{{employee.fullName}}'s Family Members</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Pets</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let familyMember of employee.familyMembers">
            <td>{{familyMember.name}}</td>
            <td>{{familyMember.lastName}}</td>
            <td>{{familyMember.pets.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>